In [2]:
import pandas as pd # importance
import numpy as np # we usually use together

## PANDAS SERIES

In [3]:
dictionary:dict = {
    "Atil": 50,
    "Zeynep": 40,
    "Mehmet": 30,
}

In [11]:
pd.Series(dictionary)

Atil      50
Zeynep    40
Mehmet    30
dtype: int64

In [12]:
type(pd.Series(dictionary))

pandas.core.series.Series

In [ ]:
array1 = np.array([50, 40, 30])
array2 = np.array(['Atil', 'Zeynep', 'Mehmet'])
# You can also use normal python list for series

In [15]:
pd.Series(array2)

0      Atil
1    Zeynep
2    Mehmet
dtype: object

In [ ]:
pd.Series(array1, array2)  # first parr: key , second: value

Atil      50
Zeynep    40
Mehmet    30
dtype: int64

In [ ]:
# or
pd.Series(data = array1, index = array2)

Atil      50
Zeynep    40
Mehmet    30
dtype: int64

## SERIES FEATURES